$color-light-raw-umber: #B99C79;
$color-raw-umber: #826644;
$color-white: #FFFFFF;
$color-dark-white: #D9D9D9;
$color-light-grey: #B3B3B3;
$color-dark-grey: #737373;
$color-black: #000000;

$color-alert: #ffff00;
$color-alert-danger: #ff3300;

