table {
  width: 100%;

  tr:nth-child(even) {
    background-color: $color-white;
  }

  tr:nth-child(odd) {
    background-color: $color-dark-white;
  }

  th {
    background-color: $color-light-raw-umber;
    color: $color-black;
    padding: .5em;
  }

  td {
    padding: .5em;

    &.td-center {
      text-align: center;
    }
  }

  ul.actions {
    display: flex;
    padding: 0;

    li {
      list-style-type: none;
      margin-right: 10px;
    }
  }
}
