{% extends 'base.html.twig' %}

{% block title %}Create Entry{% endblock %}

{% block body %}
    <h1>Create Entry</h1>

    {{ form_start(entryForm) }}
    <div class="input-fields">
        {{ form_row(entryForm.workday) }}
        {{ form_row(entryForm.note) }}
    </div>
    {{ form_end(entryForm) }}
{% endblock %}
