{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello {{ user.name }}!</h1>
        <ul>
            <li>Email: {{ user.email }}</li>
            <li>Name: {{ user.name }}</li>
            <li>Roles: {% for role in user.roles %}{{ role }}, {% endfor %}</li>
        </ul>
    </div>
{% endblock %}
